._mainBody{
    background-color: rgba(46, 87, 37, 0.474);
}
._formStyle{
    background-color: rgba(46, 87, 37, 0.474);
    border: solid 1px;
    margin-left: 30%;
    border-radius: 10px;
    width: 40%;
}
._inputList input{
    font-family: cursive;

}
._registering{
    background-color: rgba(46, 87, 37, 0.474);
    border-radius: 15px;
    color: rgba(240, 248, 255, 0.556);
    font-family: cursive;
}
._btn:hover{
    color: aliceblue;
}  
._btn{
    background-color:  rgb(36, 187, 25);
    width: 70%;
    height: 5.5vh;
    text-align: center;
   
    border-radius: 10px;
    color:rgba(240, 248, 255, 0.73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 

    transform: translateX(25%);
    margin-bottom: 20px;
}

._inputStyle{
    outline: none;
    background-color: rgba(210, 221, 218, 0.257);
    color: rgba(0, 0, 0, 0.704);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

._inputStyle::placeholder{
    color: rgba(240, 248, 255, 0.413);
    font-family: cursive;
    font-weight: 50;
}

._bodyContainer{
    margin-top: 10vh;
}
.logo_register{
    margin-bottom: -10%;
  }