.carousel-container {
    position: relative;
    width: 350px;
    height: 480px;
    overflow: hidden;
    border-radius: 10px;
    border: solid 0px;
  }
  
  .carousel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .carousel-image {
    width: 50rem;
    height: 100%;
    object-fit: cover;
    filter: opacity(100);
    filter: blur(30);
    z-index: 10;
  }
  body > div > div > div > div > div > div > div > div:nth-child(2) > div > ul{
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
  
  .photo {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: inherit;
    max-height: inherit;
    top: 50%;
    left: 50%;
    z-index: 0;
  
  }